# Table of Contents
* [Week 1](#week1)
    * [001 – Introduction and What Is Python ?](#1)  
    * [002 – What I Need ?](#2)  
    * [003 – Syntax And Your First App](#3)
    * [004 – Comments](#4)
    * [005 – Dealing With Data In Python](#5)
    * [006 – Some Data Types Overview](#6)
    * [007 – Variables Part One](#7)
    * [008 – Variables Part Two](#8)
    * [009 – Escape Sequences Characters](#9)
    * [010 – Concatenation And Trainings](#10)
* [Week 2](#week2)  
    * [011 – Strings](#11)
    * [012 – Strings – Indexing and Slicing](#12)
    * [013 – Strings Methods Part 1](#13)
    * [014 – Strings Methods Part 2](#14)
    * [015 – Strings Methods Part 3](#15)
    * [016 – Strings Methods Part 4](#16)
    * [017 – Strings Formatting Old Way](#17)
    * [018 – Strings Formatting New Way](#18)
* [Week 3](#week3)  
    * [019 – Numbers](#19)
    * [020 – Arithmetic Operators](#20)
    * [021 – Lists](#21)
    * [022 – Lists Methods Part 1](#22)
    * [023 – Lists Methods Part 2](#23)
    * [024 – Tuples Methods Part 1](#24)
    * [025 – Tuples Methods Part 2](#25)
* [Week 4](#week4)  
    * [026 – Set](#26)
    * [027 – Set Methods Part 1](#27)
    * [028 – Set Methods Part 2](#28)
    * [029 – Set Methods Part 3](#29)
    * [030 – Dictionary](#30)
    * [031 – Dictionary Methods Part 1](#31)
    * [032 – Dictionary Methods Part 2](#32)
* [Week 5](#week5)  
    * [033 – Boolean](#33)
    * [034 – Boolean Operators](#34)
    * [035 – Assignment Operators](#35)
    * [036 – Comparison Operators](#36)
    * [037 – Type Conversion](#37)
    * [038 – User Input](#38)
    * [039 – Practical – Email Slice](#39)
    * [040 – Practical – Your Age In Full Details](#40)

# Week 1
<a class="anchor" id="week1"></a>

## 003 – Syntax And Your First App
<a class="anchor" id="3"></a>

In [1]:
print("I love python")

I love python

In [2]:
print("i love programming")

i love programming

In [3]:
print(1);print(2)

1
2

In [4]:
if True:
    print(1)

1

## 004 – Comments
<a class="anchor" id="4"></a>

In [5]:
# this is a comment
# -----------
# hola
#------------

In [6]:
print("hi") #inline comment

hi

In [7]:
#print("ignore this code")

In [8]:
'''
 not multiline comment
'''

'\n not multiline comment\n'

## 006 – Some Data Types Overview
<a class="anchor" id="6"></a>

In [9]:
type(10)
# all data in python is object

int

In [10]:
type(10.1)

float

In [11]:
type("hello")

str

In [12]:
type([1,2,3])

list

In [13]:
type((1,2,3))

tuple

In [14]:
print(type({"one":1}))

<class 'dict'>

In [15]:
print(type(1==1))

<class 'bool'>

## 007 – Variables Part One
<a class="anchor" id="7"></a>

In [16]:
# syntax => [variable name][assignment operator][value]
myVariable="my value"
print(myVariable)

my value

In [17]:
my_value = "value"
print(my_value)

value

In [18]:
# print(name)
# name ="yay" will generate error
# must assign value first before printing

In [19]:
name = "baka" #single word
myName="baka"#camelCase
my_name="baka"  #snake_case

## 008 – Variables Part Two
<a class="anchor" id="8"></a>

 Source Code : Original Code You Write it in Computer  
 Translation : Converting Source Code Into Machine Language  
 Compilation : Translate Code Before Run Time  
 Run-Time : Period App Take To Executing Commands  
 Interpreted : Code Translated On The Fly During Executionm

In [20]:
x=10
x="hello"
print(x) #dynamically typed language

hello

In [21]:
help("keywords")#reserved words

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [22]:
a,b,c =1,2,3
print(a,b,c)

1 2 3

## 009 – Escape Sequences Characters
<a class="anchor" id="9"></a>

### Escape Sequences Characters
\b => Back Space  
\newline => Escape New Line + \  
\\\ => Escape Back Slash  
\' => Escape Single Quotes  
\" => Escape Double Quotes  
\n => Line Feed  
\r => Carriage Return  
\t => Horizontal Tab  
\xhh => Character Hex Value

In [23]:
print("hello\bword")

hellword

In [24]:
print("hello\
python")

hellopython

In [25]:
print("i love \\python")

i love \python

In [26]:
print("i love sinqle quote \"")

i love sinqle quote "

In [27]:
print("hello \nworld")

hello
world

In [28]:
print("123456\rabcd")

abcd56

In [29]:
print("hello \tworld")

hello 	world

In [30]:
print("\x4F\x73")

Os

## 010 – Concatenation And Trainings
<a class="anchor" id="10"></a>

In [31]:
msg = "i love"
lang = "python"
print(msg + " "+lang)

i love python

In [32]:
full = msg + " "+ lang
print(full)

i love python

In [33]:
a = "first\
    second\
        third"
b = "A\
    B\
    C"
print(a)
print(b)

first    second        third
A    B    C

In [34]:
print(a + "\n"+b)

first    second        third
A    B    C

`print("hi"+1)` will produce an error

In [35]:
print(msg +" 1")

i love 1

# Week 2
<a class="anchor" id="week2"></a>

## 011 – Strings
<a class="anchor" id="11"></a>

In [36]:
myStringOne= "this is 'signle quote'"
print(myStringOne)

this is 'signle quote'

In [37]:
myStringTwo = "This is Double Quotes"
print(myStringTwo)

This is Double Quotes

In [38]:
myStringThree = 'This is Single Quote "Test"'
print(myStringThree)

This is Single Quote "Test"

In [39]:
myStringFour = "This is Double Quotes 'Test'"
print(myStringFour)

This is Double Quotes 'Test'

In [40]:
multi= """first
second
third
"""
print(multi)

first
second
third

In [41]:
test = '''
"First" second 'third'
'''
print(test)

"First" second 'third'

## 012 – Strings – Indexing and Slicing
<a class="anchor" id="12"></a>

[1] All Data in Python is Object  
[2] Object Contain Elements  
[3] Every Element Has Its Own Index  
[4] Python Use Zero Based Indexing ( Index Start From Zero )  
[5] Use Square Brackets To Access Element  
[6] Enable Accessing Parts Of Strings, Tuples or Lists

In [42]:
#index access single item
string= "i love python"
print(string[0])
print(string[-1])
print(string[9])

i
n
t

In [43]:
#slicing access multiple sequence items
#[start:end]
#[start:end:steps]
print(string[8:11])
print(string[:10])
print(string[5:10])
print(string[5])
print(string[:])
print(string[0::1])
print(string[::1])
print(string[::2])

yth
i love pyt
e pyt
e
i love python
i love python
i love python
ilv yhn

## 013 – Strings Methods Part 1
<a class="anchor" id="13"></a>

In [44]:
a = "  i love python   "
print(len(a))
print(a.strip())
print(a.rstrip())
print(a.lstrip())

18
i love python
  i love python
i love python

In [45]:
a = "    hi   "
print(a.strip())

hi

In [46]:
a ="#####hola#####"
print(a.strip("#"))
print(a.rstrip("#"))
print(a.lstrip("#"))

hola
#####hola
hola#####

In [47]:
b ="I Love 2d Graphics and 3g Technology and python"
print(b.title())
print(b.capitalize())

I Love 2D Graphics And 3G Technology And Python
I love 2d graphics and 3g technology and python

In [48]:
c,d,e = "1","20","3"
print(c.zfill(3))
print(d.zfill(3))
print(e.zfill(3))

001
020
003

In [49]:
g = "aHmed"
print(g.lower())
print(g.upper())

ahmed
AHMED

## 014 – Strings Methods Part 2
<a class="anchor" id="14"></a>

In [50]:
a = "I love python"
print(a.split())

['I', 'love', 'python']

In [51]:
a = "I-love-python"
print(a.split("-"))

['I', 'love', 'python']

In [52]:
a = "I-love-python"
print(a.split("-",1))

['I', 'love-python']

In [53]:
d = "I-love-python"
print(d.rsplit("-",1))

['I-love', 'python']

In [54]:
e = "ahmed"
print(e.center(15))
print(e.center(15,"#"))

     ahmed
#####ahmed#####

In [55]:
f = "I and me and ahmed"
print(f.count("and"))
print(f.count("and",0,10))# start and end

2
1

In [56]:
g = "I love Python"
print(g.swapcase())

i LOVE pYTHON

In [57]:
print(g.startswith("i"))
print(g.startswith("I"))
print(g.startswith("l",2,12))#start from second index

False
True
True

In [58]:
print(g.endswith("n"))
print(g.endswith("e",2,6))

True
True

## 015 – Strings Methods Part 3
<a class="anchor" id="15"></a>

In [59]:
a = "I Love Python"
print(a.index("P"))  # Index Number 7
print(a.index("P", 0, 10))  # Index Number 7
#print(a.index("P", 0, 5))  # Through Error

7
7

In [60]:
b = "I Love Python"
print(b.find("P"))  # Index Number 7
print(b.find("P", 0, 10))  # Index Number 7
print(b.find("P", 0, 5)) #-1

7
7
-1

In [61]:
c = "ahmed"
print(c.rjust(10))
print(c.rjust(10, "#"))

     ahmed
#####ahmed

In [62]:
d = "ahmed"
print(d.ljust(10))
print(d.ljust(10, "#"))

ahmed
ahmed#####

In [63]:
e = """First Line
Second Line
Third Line"""

print(e.splitlines())

['First Line', 'Second Line', 'Third Line']

In [64]:
f = "First Line\nSecond Line\nThird Line"

print(f.splitlines())

['First Line', 'Second Line', 'Third Line']

In [65]:
g = "Hello\tWorld\tI\tLove\tPython"
print(g.expandtabs(5))

Hello     World     I    Love Python

In [66]:
one = "I Love Python And 3G"
two = "I Love Python And 3g"
print(one.istitle())
print(two.istitle())

True
False

In [67]:
three = " "
four = ""
print(three.isspace())
print(four.isspace())

True
False

In [68]:
five = 'i love python'
six = 'I Love Python'
print(five.islower())
print(six.islower())

True
False

In [69]:
# to check if i can use a name as a variable
seven = "osama_elzero"
eight = "OsamaElzero100"
nine = "Osama--Elzero100"

print(seven.isidentifier())
print(eight.isidentifier())
print(nine.isidentifier())

True
True
False

In [70]:
x = "AaaaaBbbbbb"
y = "AaaaaBbbbbb111"
print(x.isalpha())
print(y.isalpha())

True
False

In [71]:
u = "AaaaaBbbbbb"
z = "AaaaaBbbbbb111"
print(u.isalnum())
print(z.isalnum())

True
True

## 016 – Strings Methods Part 4
<a class="anchor" id="16"></a>

In [72]:
# replace(Old Value, New Value, Count)

a = "Hello One Two Three One One"
print(a.replace("One", "1"))
print(a.replace("One", "1", 1))
print(a.replace("One", "1", 2))

Hello 1 Two Three 1 1
Hello 1 Two Three One One
Hello 1 Two Three 1 One

In [73]:
myList = ["Osama", "Mohamed", "Elsayed"]
print("-".join(myList))
print(" ".join(myList))
print(", ".join(myList))
print(type(", ".join(myList)))

Osama-Mohamed-Elsayed
Osama Mohamed Elsayed
Osama, Mohamed, Elsayed
<class 'str'>

## 017 – Strings Formatting Old Way
<a class="anchor" id="17"></a>

In [74]:
name = "Osama"
age = 36
rank = 10

print("My Name is: " + name)

My Name is: Osama

```
print("My Name is: " + name + " and My Age is: " + age)  

```
type error, cant concatenate string with int

In [75]:
print("My Name is: %s" % "Osama")
print("My Name is: %s" % name)
print("My Name is: %s and My Age is: %d" % (name, age))
print("My Name is: %s and My Age is: %d and My Rank is: %f" % (name, age, rank))

My Name is: Osama
My Name is: Osama
My Name is: Osama and My Age is: 36
My Name is: Osama and My Age is: 36 and My Rank is: 10.000000

%s => String  
%d => Number  
%f => Float

In [76]:
n = "Osama"
l = "Python"
y = 10

print("My Name is %s Iam %s Developer With %d Years Exp" % (n, l, y))

My Name is Osama Iam Python Developer With 10 Years Exp

In [77]:
#control flow point number
myNumber = 10
print("My Number is: %d" % myNumber)
print("My Number is: %f" % myNumber)
print("My Number is: %.2f" % myNumber)

My Number is: 10
My Number is: 10.000000
My Number is: 10.00

In [78]:
#Truncate string
myLongString = "Hello Peoples of Elzero Web School I Love You All"
print("Message is %s" % myLongString)
print("Message is %.5s" % myLongString)

Message is Hello Peoples of Elzero Web School I Love You All
Message is Hello

## 018 – Strings Formatting New Way
<a class="anchor" id="18"></a>

In [79]:
name = "Osama"
age = 36
rank = 10

print("My Name is: " + name)

My Name is: Osama

In [80]:
print("My Name is: {}".format("Osama"))
print("My Name is: {}".format(name))
print("My Name is: {} My Age: {}".format(name, age))
print("My Name is: {:s} Age: {:d} & Rank is: {:f}".format(name, age, rank))

My Name is: Osama
My Name is: Osama
My Name is: Osama My Age: 36
My Name is: Osama Age: 36 & Rank is: 10.000000

{:s} => String  
{:d} => Number  
{:f} => Float

In [81]:
n = "Osama"
l = "Python"
y = 10

print("My Name is {} Iam {} Developer With {:d} Years Exp".format(n, l, y))

My Name is Osama Iam Python Developer With 10 Years Exp

In [82]:
# Control Floating Point Number
myNumber = 10
print("My Number is: {:d}".format(myNumber))
print("My Number is: {:f}".format(myNumber))
print("My Number is: {:.2f}".format(myNumber))

My Number is: 10
My Number is: 10.000000
My Number is: 10.00

In [83]:
# Truncate String
myLongString = "Hello Peoples of Elzero Web School I Love You All"
print("Message is {}".format(myLongString))
print("Message is {:.5s}".format(myLongString))
print("Message is {:.13s}".format(myLongString))

Message is Hello Peoples of Elzero Web School I Love You All
Message is Hello
Message is Hello Peoples

In [84]:
#format money
myMoney = 500162350198
print("My Money in Bank Is: {:d}".format(myMoney))
print("My Money in Bank Is: {:_d}".format(myMoney))
print("My Money in Bank Is: {:,d}".format(myMoney))

My Money in Bank Is: 500162350198
My Money in Bank Is: 500_162_350_198
My Money in Bank Is: 500,162,350,198

`{:&d}` will produce an error

In [85]:
# ReArrange Items
a, b, c = "One", "Two", "Three"
print("Hello {} {} {}".format(a, b, c))
print("Hello {1} {2} {0}".format(a, b, c))
print("Hello {2} {0} {1}".format(a, b, c))

Hello One Two Three
Hello Two Three One
Hello Three One Two

In [86]:
x, y, z = 10, 20, 30
print("Hello {} {} {}".format(x, y, z))
print("Hello {1:d} {2:d} {0:d}".format(x, y, z))
print("Hello {2:f} {0:f} {1:f}".format(x, y, z))
print("Hello {2:.2f} {0:.4f} {1:.5f}".format(x, y, z))

Hello 10 20 30
Hello 20 30 10
Hello 30.000000 10.000000 20.000000
Hello 30.00 10.0000 20.00000

In [87]:
# Format in Version 3.6+
myName = "Osama"
myAge = 36
print("My Name is : {myName} and My Age is : {myAge}")
print(f"My Name is : {myName} and My Age is : {myAge}")

My Name is : {myName} and My Age is : {myAge}
My Name is : Osama and My Age is : 36

# Week 3
<a class="anchor" id="week3"></a>

## 019 – Numbers
<a class="anchor" id="19"></a>

In [88]:
# Integer
print(type(1))
print(type(100))
print(type(10))
print(type(-10))
print(type(-110))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [89]:
# Float
print(type(1.500))
print(type(100.99))
print(type(-10.99))
print(type(0.99))
print(type(-0.99))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [90]:
# Complex
myComplexNumber = 5+6j
print(type(myComplexNumber))
print("Real Part Is: {}".format(myComplexNumber.real))
print("Imaginary Part Is: {}".format(myComplexNumber.imag))

<class 'complex'>
Real Part Is: 5.0
Imaginary Part Is: 6.0

[1] You Can Convert From Int To Float or Complex  
[2] You Can Convert From Float To Int or Complex  
[3] You Cannot Convert Complex To Any Type

In [91]:
print(100)
print(float(100))
print(complex(100))

100
100.0
(100+0j)

In [92]:
print(10.50)
print(int(10.50))
print(complex(10.50))

10.5
10
(10.5+0j)

In [93]:
print(10+9j)
#print(int(10+9j)) error

(10+9j)

## 020 – Arithmetic Operators
<a class="anchor" id="20"></a>

[+] Addition  
[-] Subtraction  
[*] Multiplication  
[/] Division  
[%] Modulus  
[**] Exponent  
[//] Floor Division

In [94]:
# Addition
print(10 + 30)
print(-10 + 20)
print(1 + 2.66)
print(1.2 + 1.2)

40
10
3.66
2.4

In [95]:
# Subtraction
print(60 - 30)
print(-30 - 20)
print(-30 - -20)
print(5.66 - 3.44)

30
-50
-10
2.22

In [96]:
# Multiplication
print(10 * 3)
print(5 + 10 * 100)
print((5 + 10) * 100)

30
1005
1500

In [97]:
# Division
print(100 / 20)
print(int(100 / 20))

5.0
5

In [98]:
# Modulus
print(8 % 2)
print(9 % 2)
print(20 % 5)
print(22 % 5)

0
1
0
2

In [99]:
# Exponent
print(2 ** 5)
print(2 * 2 * 2 * 2 * 2)
print(5 ** 4)
print(5 * 5 * 5 * 5)

32
32
625
625

In [100]:
# Floor Division
print(100 // 20)
print(119 // 20)
print(120 // 20)
print(140 // 20)
print(142 // 20)

5
5
6
7
7

## 021 – Lists
<a class="anchor" id="21"></a>

[1] List Items Are Enclosed in Square Brackets  
[2] List Are Ordered, To Use Index To Access Item  
[3] List Are Mutable => Add, Delete, Edit  
[4] List Items Is Not Unique  
[5] List Can Have Different Data Types

In [101]:
myAwesomeList = ["One", "Two", "One", 1, 100.5, True]

print(myAwesomeList)
print(myAwesomeList[1])
print(myAwesomeList[-1])
print(myAwesomeList[-3])

['One', 'Two', 'One', 1, 100.5, True]
Two
True
1

In [102]:
print(myAwesomeList[1:4])
print(myAwesomeList[:4])
print(myAwesomeList[1:])

['Two', 'One', 1]
['One', 'Two', 'One', 1]
['Two', 'One', 1, 100.5, True]

In [103]:
print(myAwesomeList[::1])
print(myAwesomeList[::2])

['One', 'Two', 'One', 1, 100.5, True]
['One', 'One', 100.5]

In [104]:
print(myAwesomeList)
myAwesomeList[1] = 2
myAwesomeList[-1] = False
print(myAwesomeList)

['One', 'Two', 'One', 1, 100.5, True]
['One', 2, 'One', 1, 100.5, False]

In [105]:
myAwesomeList[0:3]=[]
print(myAwesomeList)

[1, 100.5, False]

In [106]:
myAwesomeList[0:2] = ["A","B"]
print(myAwesomeList)

['A', 'B', False]

## 022 – Lists Methods Part 1
<a class="anchor" id="22"></a>

In [107]:
myFriends = ["Osama", "Ahmed", "Sayed"]
myOldFriends = ["Haytham", "Samah", "Ali"]
print(myFriends)
print(myOldFriends)

['Osama', 'Ahmed', 'Sayed']
['Haytham', 'Samah', 'Ali']

In [108]:
myFriends.append("Alaa")
myFriends.append(100)
myFriends.append(150.200)
myFriends.append(True)
print(myFriends)

['Osama', 'Ahmed', 'Sayed', 'Alaa', 100, 150.2, True]

In [109]:
myFriends.append(myOldFriends)
print(myFriends)

['Osama', 'Ahmed', 'Sayed', 'Alaa', 100, 150.2, True, ['Haytham', 'Samah', 'Ali']]

In [110]:
print(myFriends[2])
print(myFriends[6])
print(myFriends[7])

Sayed
True
['Haytham', 'Samah', 'Ali']

In [111]:
print(myFriends[7][2])

Ali

In [112]:
a = [1, 2, 3, 4]
b = ["A", "B", "C"]
print(a)

[1, 2, 3, 4]

In [113]:
a.extend(b)
print(a)

[1, 2, 3, 4, 'A', 'B', 'C']

In [114]:
x = [1, 2, 3, 4, 5, "Osama", True, "Osama", "Osama"]
x.remove("Osama")
print(x)

[1, 2, 3, 4, 5, True, 'Osama', 'Osama']

In [115]:
y = [1, 2, 100, 120, -10, 17, 29]
y.sort()
print(y)

[-10, 1, 2, 17, 29, 100, 120]

In [116]:
y.sort(reverse=True)
print(y)

[120, 100, 29, 17, 2, 1, -10]

In [117]:
m = ["A", "Z", "C"]
m.sort()
print(m)

['A', 'C', 'Z']

Sort can't sort a list that contains both of strings and numbers.

In [118]:
z = [10, 1, 9, 80, 100, "Osama", 100]
z.reverse()
print(z)

[100, 'Osama', 100, 80, 9, 1, 10]

## 023 – Lists Methods Part 2
<a class="anchor" id="23"></a>

In [119]:
a = [1, 2, 3, 4]
a.clear()
print(a)

[]

In [120]:
b = [1, 2, 3, 4]
c = b.copy()

print(b)
print(c)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [121]:
b.append(5)
print(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [122]:
d = [1, 2, 3, 4, 3, 9, 10, 1, 2, 1]
print(d.count(1))

3

In [123]:
e = ["Osama", "Ahmed", "Sayed", "Ramy", "Ahmed", "Ramy"]
print(e.index("Ramy"))

3

In [124]:
f = [1, 2, 3, 4, 5, "A", "B"]
print(f)
f.insert(0, "Test")
f.insert(-1, "Test")
print(f)

[1, 2, 3, 4, 5, 'A', 'B']
['Test', 1, 2, 3, 4, 5, 'A', 'Test', 'B']

In [125]:
g = [1, 2, 3, 4, 5, "A", "B"]
print(g.pop(-3))

5

## 024 – Tuples Methods Part 1
<a class="anchor" id="24"></a>

[1] Tuple Items Are Enclosed in Parentheses  
[2] You Can Remove The Parentheses If You Want  
[3] Tuple Are Ordered, To Use Index To Access Item  
[4] Tuple Are Immutable => You Cant Add or Delete  
[5] Tuple Items Is Not Unique  
[6] Tuple Can Have Different Data Types  
[7] Operators Used in Strings and Lists Available In Tuples

In [126]:
myAwesomeTupleOne = ("Osama", "Ahmed")
myAwesomeTupleTwo = "Osama", "Ahmed"
print(myAwesomeTupleOne)
print(myAwesomeTupleTwo)

('Osama', 'Ahmed')
('Osama', 'Ahmed')

In [127]:
print(type(myAwesomeTupleOne))
print(type(myAwesomeTupleTwo))

<class 'tuple'>
<class 'tuple'>

In [128]:
myAwesomeTupleThree = (1, 2, 3, 4, 5)
print(myAwesomeTupleThree[0])
print(myAwesomeTupleThree[-1])
print(myAwesomeTupleThree[-3])

1
5
3

In [129]:
# Tuple Assign Values
myAwesomeTupleFour = (1, 2, 3, 4, 5)
print(myAwesomeTupleFour)

(1, 2, 3, 4, 5)

```
myAwesomeTupleFour[2] = "Three"
print(myAwesomeTupleFour)
```
'tuple' object does not support item assignment

In [130]:
myAwesomeTupleFive = ("Osama", "Osama", 1, 2, 3, 100.5, True)
print(myAwesomeTupleFive[1])
print(myAwesomeTupleFive[-1])

Osama
True

## 025 – Tuples Methods Part 2
<a class="anchor" id="25"></a>

In [131]:
myTuple1 = ("Osama",)
myTuple2 = "Osama",
print(myTuple1)
print(myTuple2)

('Osama',)
('Osama',)

In [132]:
print(type(myTuple1))
print(type(myTuple2))

<class 'tuple'>
<class 'tuple'>

In [133]:
print(len(myTuple1))
print(len(myTuple2))

1
1

In [134]:
a = (1, 2, 3, 4)
b = (5, 6)
c = a + b
d = a + ("A", "B", True) + b
print(c)
print(d)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 'A', 'B', True, 5, 6)

In [135]:
myString = "Osama"
myList = [1, 2]
myTuple = ("A", "B")

print(myString * 6)
print(myList * 6)
print(myTuple * 6)

OsamaOsamaOsamaOsamaOsamaOsama
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
('A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B')

In [136]:
a = (1, 3, 7, 8, 2, 6, 5, 8)
print(a.count(8))

2

In [137]:
b = (1, 3, 7, 8, 2, 6, 5)
print("The Position of Index Is: {:d}".format(b.index(7)))
print(f"The Position of Index Is: {b.index(7)}")

The Position of Index Is: 2
The Position of Index Is: 2

In [138]:
# Tuple Destruct
a = ("A", "B", 4, "C")

x, y, _, z = a

print(x)
print(y)
print(z)

A
B
C

# Week 4
<a class="anchor" id="week4"></a>

## 026 – Set
<a class="anchor" id="26"></a>

[1] Set Items Are Enclosed in Curly Braces  
[2] Set Items Are Not Ordered And Not Indexed  
[3] Set Indexing and Slicing Cant Be Done  
[4] Set Has Only Immutable Data Types (Numbers, Strings, Tuples) List and Dict Are Not  
[5] Set Items Is Unique

In [139]:
# Not Ordered And Not Indexed

mySetOne = {"Osama", "Ahmed", 100}
print(mySetOne)

{100, 'Osama', 'Ahmed'}

`print(mySetOne[0])` will produce an error.

Slicing Cant Be Done
```
mySetTwo = {1, 2, 3, 4, 5, 6}
print(mySetTwo[0:3])
```
Will also produce an error.

Has Only Immutable Data Types

`mySetThree = {"Osama", 100, 100.5, True, [1, 2, 3]}`   
Error,  unhashable type: 'list'

In [140]:
mySetThree = {"Osama", 100, 100.5, True, (1, 2, 3)}

print(mySetThree)

{True, 100.5, 100, (1, 2, 3), 'Osama'}

In [141]:
# Items are Unique

mySetFour = {1, 2, "Osama", "One", "Osama", 1}
print(mySetFour)

{1, 2, 'Osama', 'One'}

## 027 – Set Methods Part 1
<a class="anchor" id="27"></a>

In [142]:
a = {1, 2, 3}
a.clear()
print(a)

set()

In [143]:
b = {"One", "Two", "Three"}
c = {"1", "2", "3"}
x = {"Zero", "Cool"}
print(b | c)
print(b.union(c))
print(b.union(c, x))

{'One', 'Two', '2', 'Three', '1', '3'}
{'One', 'Two', '2', 'Three', '1', '3'}
{'One', 'Two', 'Cool', 'Zero', '2', 'Three', '1', '3'}

In [144]:
d = {1, 2, 3, 4}
d.add(5)
d.add(6)
print(d)

{1, 2, 3, 4, 5, 6}

In [145]:
e = {1, 2, 3, 4}
f = e.copy()


print(e)
print(f)
e.add(6)
print(e)
print(f)

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 6}
{1, 2, 3, 4}

In [146]:
g = {1, 2, 3, 4}
g.remove(1)
# g.remove(7) will remove an error
print(g)

{2, 3, 4}

In [147]:
h = {1, 2, 3, 4}
h.discard(1)
h.discard(7)# wont produce an error
print(h)

{2, 3, 4}

In [148]:
i = {"A", True, 1, 2, 3, 4, 5}
print(i.pop())

True

In [149]:
j = {1, 2, 3}
k = {1, "A", "B", 2}
j.update(['Html', "Css"])
j.update(k)

print(j)

{1, 2, 3, 'Html', 'A', 'Css', 'B'}

## 028 – Set Methods Part 2
<a class="anchor" id="28"></a>

In [150]:
a = {1, 2, 3, 4}
b = {1, 2, 3, "Osama", "Ahmed"}
print(a)
print(a.difference(b))  # a - b
print(a)

{1, 2, 3, 4}
{4}
{1, 2, 3, 4}

In [151]:
c = {1, 2, 3, 4}
d = {1, 2, "Osama", "Ahmed"}
print(c)
c.difference_update(d)  # c - d
print(c)

{1, 2, 3, 4}
{3, 4}

In [152]:
e = {1, 2, 3, 4, "X", "Osama"}
f = {"Osama", "X", 2}
print(e)
print(e.intersection(f))  # e & f
print(e)

{1, 2, 3, 4, 'X', 'Osama'}
{'X', 2, 'Osama'}
{1, 2, 3, 4, 'X', 'Osama'}

In [153]:
g = {1, 2, 3, 4, "X", "Osama"}
h = {"Osama", "X", 2}
print(g)
g.intersection_update(h)  # g & h
print(g)

{1, 2, 3, 4, 'X', 'Osama'}
{'X', 2, 'Osama'}

In [154]:
i = {1,2,3,4,5}
j = {0,3,4,5}
print(i)
print(i.symmetric_difference(j))  # i ^ j
print(i)

{1, 2, 3, 4, 5}
{0, 1, 2}
{1, 2, 3, 4, 5}

In [155]:
i = {1,2,3,4,5}
j = {0,3,4,5}
print(i)
i.symmetric_difference_update(j)  # i ^ j
print(i)

{1, 2, 3, 4, 5}
{0, 1, 2}

## 029 – Set Methods Part 3
<a class="anchor" id="29"></a>

In [156]:
a = {1, 2, 3, 4}
b = {1, 2, 3}
c = {1, 2, 3, 4, 5}

print(a.issuperset(b))
print(a.issuperset(c))

True
False

In [157]:
d = {1, 2, 3, 4}
e = {1, 2, 3}
f = {1, 2, 3, 4, 5}

print(d.issubset(e))
print(d.issubset(f))

False
True

In [158]:
g = {1, 2, 3, 4}
h = {1, 2, 3}
i = {10, 11, 12}

print(g.isdisjoint(h))
print(g.isdisjoint(i))

False
True

## 030 – Dictionary
<a class="anchor" id="30"></a>

[1] Dict Items Are Enclosed in Curly Braces  
[2] Dict Items Are Contains Key : Value  
[3] Dict Key Need To Be Immutable => (Number, String, Tuple) List Not Allowed  
[4] Dict Value Can Have Any Data Types  
[5] Dict Key Need To Be Unique  
[6] Dict Is Not Ordered You Access Its Element With Key

In [159]:
user = {
  "name": "Osama",
  "age": 36,
  "country": "Egypt",
  "skills": ["Html", "Css", "JS"],
  "rating": 10.5
}
print(user)

{'name': 'Osama', 'age': 36, 'country': 'Egypt', 'skills': ['Html', 'Css', 'JS'], 'rating': 10.5}

In [160]:
user = {
  "name": "Osama",
  "age": 36,
  "country": "Egypt",
  "skills": ["Html", "Css", "JS"],
  "rating": 10.5,
  "name": "Ahmed"
}
print(user)

{'name': 'Ahmed', 'age': 36, 'country': 'Egypt', 'skills': ['Html', 'Css', 'JS'], 'rating': 10.5}

* Notice that it prints Ahmed not Osama as it is defined later.

In [161]:
print(user['country'])
print(user.get("country"))

Egypt
Egypt

In [162]:
print(user.keys())

dict_keys(['name', 'age', 'country', 'skills', 'rating'])

In [163]:
print(user.values())

dict_values(['Ahmed', 36, 'Egypt', ['Html', 'Css', 'JS'], 10.5])

In [164]:
languages = {
  "One": {
    "name": "Html",
    "progress": "80%"
  },
  "Two": {
    "name": "Css",
    "progress": "90%"
  },
  "Three": {
    "name": "Js",
    "progress": "90%"
  }
}

In [165]:
print(languages)

{'One': {'name': 'Html', 'progress': '80%'}, 'Two': {'name': 'Css', 'progress': '90%'}, 'Three': {'name': 'Js', 'progress': '90%'}}

In [166]:
print(languages['One'])

{'name': 'Html', 'progress': '80%'}

In [167]:
print(languages['Three']['name'])

Js

In [168]:
print(len(languages))

3

In [169]:
print(len(languages["Two"]))

2

In [170]:
frameworkOne = {
  "name": "Vuejs",
  "progress": "80%"
}
frameworkTwo = {
  "name": "ReactJs",
  "progress": "80%"
}
frameworkThree = {
  "name": "Angular",
  "progress": "80%"
}
allFramework = {
  "one": frameworkOne,
  "two": frameworkTwo,
  "three": frameworkThree
}
print(allFramework)

{'one': {'name': 'Vuejs', 'progress': '80%'}, 'two': {'name': 'ReactJs', 'progress': '80%'}, 'three': {'name': 'Angular', 'progress': '80%'}}

## 031 – Dictionary Methods Part 1
<a class="anchor" id="31"></a>

In [171]:
user = {
  "name": "Osama"
}
print(user)
user.clear()
print(user)

{'name': 'Osama'}
{}

In [172]:
member = {
  "name": "Osama"
}
print(member)
member["age"] = 36
print(member)
member.update({"country": "Egypt"})
print(member)
# Both ways are equivalent.

{'name': 'Osama'}
{'name': 'Osama', 'age': 36}
{'name': 'Osama', 'age': 36, 'country': 'Egypt'}

In [173]:
main = {
  "name": "Osama"
}

b = main.copy()
print(b)
main.update({"skills": "Fighting"})
print(main)
print(b)

{'name': 'Osama'}
{'name': 'Osama', 'skills': 'Fighting'}
{'name': 'Osama'}

In [174]:
print(main.keys())

dict_keys(['name', 'skills'])

In [175]:
print(main.values())

dict_values(['Osama', 'Fighting'])

## 032 – Dictionary Methods Part 2
<a class="anchor" id="32"></a>

In [176]:
user = {
  "name": "Osama"
}
print(user)
user.setdefault("name","Ahmed")
user.setdefault("age", 36)
print(user)

{'name': 'Osama'}
{'name': 'Osama', 'age': 36}

In [177]:
print(user.setdefault("name","Ahmed"))

Osama

In [178]:
member = {
  "name": "Osama",
  "skill": "PS4"
}
print(member)
member.update({"age": 36})
print(member)
print(member.popitem())
print(member)

{'name': 'Osama', 'skill': 'PS4'}
{'name': 'Osama', 'skill': 'PS4', 'age': 36}
('age', 36)
{'name': 'Osama', 'skill': 'PS4'}

In [179]:
view = {
  "name": "Osama",
  "skill": "XBox"
}

allItems = view.items()
print(view)

{'name': 'Osama', 'skill': 'XBox'}

In [180]:
view["age"] = 36
print(view)

{'name': 'Osama', 'skill': 'XBox', 'age': 36}

In [181]:
print(allItems)

dict_items([('name', 'Osama'), ('skill', 'XBox'), ('age', 36)])

In [182]:
a = ('MyKeyOne', 'MyKeyTwo', 'MyKeyThree')
b = "X"

print(dict.fromkeys(a, b))

{'MyKeyOne': 'X', 'MyKeyTwo': 'X', 'MyKeyThree': 'X'}

In [183]:
user = {
  "name": "Ahmed"
}
me = user
print(me)

{'name': 'Ahmed'}

In [184]:
user["age"]=21
print(me)

{'name': 'Ahmed', 'age': 21}

* Notice that `me` got updated because `me` and `user` share the same data.

# Week 5
<a class="anchor" id="week5"></a>

## 033 – Boolean
<a class="anchor" id="33"></a>

[1] In Programming You Need to Known Your If Your Code Output is True Or False  
[2] Boolean Values Are The Two Constant Objects False + True.

In [185]:
name = " "
print(name.isspace())

True

In [186]:
name = "Ahmed"
print(name.isspace())

False

In [187]:
print(100 > 200)
print(100 > 100)
print(100 > 90)

False
False
True

In [188]:
print(bool("Osama"))
print(bool(100))
print(bool(100.95))
print(bool(True))
print(bool([1, 2, 3, 4, 5]))

True
True
True
True
True

In [189]:
print(bool(0))
print(bool(""))
print(bool(''))
print(bool([]))
print(bool(False))
print(bool(()))
print(bool({}))
print(bool(None))

False
False
False
False
False
False
False
False

## 034 – Boolean Operators
<a class="anchor" id="34"></a>

In [190]:
name = "ahmed"
age = 21
print(name =="ahmed" and age == 21)

True

In [191]:
print(name =="ahmed" and age > 21)

False

In [192]:
print(name =="ahmed" or age > 21)

True

In [193]:
print(name =="mohamed" or age > 21)

False

In [194]:
print(not age > 21)

True

In [195]:
print(not (name =="ahmed" and age > 21))

True

## 035 – Assignment Operators
<a class="anchor" id="35"></a>

=  
+=  
-=  
*=  
/=  
**=  
%=  
//=

In [196]:
x = 10
y = 20
x = x+y
print(x)

30

* A better way

In [197]:
a = 10
b = 20
a+= b
print(a)

30

In [198]:
x = 30
y = 20
x = x-y
print(x)

10

In [199]:
a = 30
b = 20
a -= b
print(a)

10

Var One = Self [Operator] Var Two  
Var One [Operator]= Var Two

## 036 – Comparison Operators
<a class="anchor" id="36"></a>

[ == ] Equal  
[ != ] Not Equal  
[ > ] Greater Than  
[ < ] Less Than  
[ >= ] Greater Than Or Equal  
[ <= ] Less Than Or Equal

In [200]:
print(100 == 100)
print(100 == 200)
print(100 == 100.00)

True
False
True

In [201]:
print(100 != 100)
print(100 != 200)
print(100 != 100.00)

False
True
False

In [202]:
print(100 > 100)
print(100 > 200)
print(100 > 100.00)
print(100 > 40)

False
False
False
True

In [203]:
print(100 < 100)
print(100 < 200)
print(100 < 100.00)
print(100 < 40)

False
True
False
False

In [204]:
print(100 >= 100)
print(100 >= 200)
print(100 >= 100.00)
print(100 >= 40)

True
False
True
True

In [205]:
print(100 <= 100)
print(100 <= 200)
print(100 <= 100.00)
print(100 <= 40)

True
True
True
False

## 037 – Type Conversion
<a class="anchor" id="37"></a>

In [206]:

a = 10
print(type(a))
print(type(str(a)))

<class 'int'>
<class 'str'>

In [207]:
c = "Osama"
d = [1, 2, 3, 4, 5]
e = {"A", "B", "C"}
f = {"A": 1, "B": 2}

print(tuple(c))
print(tuple(d))
print(tuple(e))
print(tuple(f))

('O', 's', 'a', 'm', 'a')
(1, 2, 3, 4, 5)
('A', 'B', 'C')
('A', 'B')

In [208]:
c = "Osama"
d = (1, 2, 3, 4, 5)
e = {"A", "B", "C"}
f = {"A": 1, "B": 2}

print(list(c))
print(list(d))
print(list(e))
print(list(f))

['O', 's', 'a', 'm', 'a']
[1, 2, 3, 4, 5]
['A', 'B', 'C']
['A', 'B']

In [209]:
c = "Osama"
d = (1, 2, 3, 4, 5)
e = ["A", "B", "C"]
f = {"A": 1, "B": 2}

print(set(c))
print(set(d))
print(set(e))
print(set(f))

{'s', 'a', 'O', 'm'}
{1, 2, 3, 4, 5}
{'A', 'B', 'C'}
{'A', 'B'}

In [210]:
d = (("A", 1), ("B", 2), ("C", 3))
e = [["One", 1], ["Two", 2], ["Three", 3]]

print(dict(d))
print(dict(e))

{'A': 1, 'B': 2, 'C': 3}
{'One': 1, 'Two': 2, 'Three': 3}

## 038 – User Input
<a class="anchor" id="38"></a>

In [211]:
fName = input('What\'s Is Your First Name?')
mName = input('What\'s Is Your Middle Name?')
lName = input('What\'s Is Your Last Name?')

fName = fName.strip().capitalize()
mName = mName.strip().capitalize()
lName = lName.strip().capitalize()

print(f"Hello {fName} {mName:.1s} {lName} Happy To See You.")

Hello Ahmed H Darwish Happy To See You.

## 039 – Practical – Email Slice
<a class="anchor" id="39"></a>

In [212]:
email = "Osama@elzero.org"
print(email[:email.index("@")])

Osama

In [213]:
theName = input('What\'s Your Name ?').strip().capitalize()
theEmail = input('What\'s Your Email ?').strip()

theUsername = theEmail[:theEmail.index("@")]
theWebsite = theEmail[theEmail.index("@") + 1:]

print(f"Hello {theName} Your Email Is {theEmail}")

Hello Ahmed Your Email Is Ahmedh457@gmail.com

In [214]:
print(f"Your Username Is {theUsername} \nYour Website Is {theWebsite}")

Your Username Is Ahmedh457
Your Website Is gmail.com

## 040 – Practical – Your Age In Full Details
<a class="anchor" id="40"></a>

In [215]:
age = int(input('What\'s Your Age ? ').strip())

months = age * 12
weeks = months * 4
days = age * 365
hours = days * 24
minutes = hours * 60
seconds = minutes * 60

In [216]:
print('You Lived For:')
print(f"{months} Months.")
print(f"{weeks:,} Weeks.")
print(f"{days:,} Days.")
print(f"{hours:,} Hours.")
print(f"{minutes:,} Minutes.")
print(f"{seconds:,} Seconds.")

You Lived For:
252 Months.
1,008 Weeks.
7,665 Days.
183,960 Hours.
11,037,600 Minutes.
662,256,000 Seconds.